<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud.cloud.evanliu2968.dao.AdminGroupRefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crud.cloud.evanliu2968.po.admin.AdminGroupRefPO">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="admin_id" property="adminId" />
        <result column="status" property="status" />
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_id" property="updateId"/>
        <result column="create_id" property="createId"/>
        <result column="note" property="note"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>
    <select id="deleteAdminGroupRefListByAdminId"  parameterType="java.lang.Integer"  resultType="java.lang.Integer">
        update admin_group_ref set status=1 where admin_id =  #{adminId} and status=0
    </select>

    <update id="deleteByGroupIds">
        UPDATE admin_group_ref SET del_flag = 1 WHERE group_id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>